.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $med-size;
    margin: $med-size 0 0 0;

}
.add-option {
    padding: $med-size;
    display: flex;
    flex-direction: column
    // justify-content: space-between;
}
.add-option-input {
    // width: 70%;
    flex-grow: 1;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    background: $dark-blue;
    margin: 0 0 $sm-size 0;
    color: $off-white;
    padding: $sm-size;
    font-weight: 500;
}
@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option-input {
        margin: 0 $sm-size 0 0;
    }
}